<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>トップ</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/top.css}">
</head>
<body>
	<header>
	  <nav>
	    <a th:href="@{/logout}" id="logout-link">ログアウト</a>
	  </nav>
	  <div class="user-info">
		<p>社員番号：<span th:text="${session.userId}"></span></p>
		<p>氏名：<span th:text="${session.userName}"></span></p>
	  </div>
	</header>

	<h2>勤怠管理システム</h2>

	<div class="menu-container">
	  <form th:action="@{/regist}" method="GET">
	    <input type="submit" value="勤怠登録" class="menu-btn">
	  </form>
	  <form th:action="@{/edit}" method="POST">
	    <input type="submit" value="勤怠編集" class="menu-btn">
	  </form>
	  <form th:action="@{/search}" method="GET">
	    <input type="submit" value="勤怠検索" class="menu-btn">
	  </form>
	  <form th:action="@{/output}" method="POST">
	    <input type="submit" value="勤怠情報出力" class="menu-btn">
	  </form>
	  <form th:action="@{/management}" method="POST">
	    <input type="submit" value="社員情報管理" class="menu-btn">
	  </form>
	</div>
</body>
</html>
